<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>.::Techoryze | Videos::.</title>
<link rel="icon" href="https://techoryze.herokuapp.com/static/images/logo/favicon.png" type="images/logo/favicon.png" />
<link href="https://techoryze.herokuapp.com/static/css/style.css" rel="stylesheet" type="text/css">
<script src="https://techoryze.herokuapp.com/static/js/jquery.js"></script>
<script src="https://techoryze.herokuapp.com/static/js/webjs.js"></script>

</head>

<body>
<!--START HEADER-->
<header class="bg-header pt-4 pb-4">
<div class="container">
<div class="row">
<div class="col">
<!--START NAVBAR-->
<nav class="col navbar navbar-expand-lg navbar-light d-block font-size14px p-0">
  <div class="col-lg-2 col-md-3 col-sm-4 col-7 p-0 pull-left mt-1">
<a href="/" class="d-block"><img src="https://techoryze.herokuapp.com/static/images/logo/logo.png" width="130" class=""></a>
</div>
<div class="col-lg-10 col-md-12 col-sm-12 col-12 p-0 pull-left">
  <button class="navbar-toggler btn btn-dark pull-right margin-topNeg31px collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
  </button>
  <div class="col navbar-collapse pull-left p-0 collapse" id="navbarText" style="">
    <ul class="navbar-nav colorWhite">
      <li class="nav-item active">
        <a class="nav-link transition" href="#">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link transition" href="#">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link transition" href="#">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link transition" href="#">About Us</a>
      </li>
    </ul>
    	<div class="col p-0">
            {% if request.user.is_authenticated %}
                <a href="\logout" class="d-block pull-right btn btn-dark colorOrange font-weight-bold col-lg-3 col-md-12 col-sm-12 col-12">Sign Out</a>
            {% else %}
        	<a href="\logins" class="d-block pull-right btn btn-dark colorOrange font-weight-bold col-lg-3 col-md-12 col-sm-12 col-12">Sign In</a>
            {% endif %}
        </div>
  </div>
  </div>
</nav>
<!--END NAVBAR-->
</div>
</div>
</div>
</header>
<!--END HEADER-->

<!--START SECTION-->
<section class="overflow-hidden font-familyRobotoRegular">
<div class="container">
<div class="row">
<div class="col-12">
    {% for course in courses %}
        {% if course.course_category == 'MOS' %}
            <p class="font-size12px mt-4 m-0 pl-3">Microsoft Office Suite > <span class="colorOrange">{{ course.course_title }}</span></p>
        {% endif %}

        {% if course.course_category == 'GD' %}
            <p class="font-size12px mt-4 m-0 pl-3">Graphic Design > <span class="colorOrange">{{ course.course_title }}</span></p>
        {% endif %}

        {% if course.course_category == 'SM' %}
            <p class="font-size12px mt-4 m-0 pl-3">Sound & Music > <span class="colorOrange">{{ course.course_title }}</span></p>
        {% endif %}

        {% if course.course_category == 'WD' %}
            <p class="font-size12px mt-4 m-0 pl-3">Web Site Development > <span class="colorOrange">{{ course.course_title }}</span></p>
        {% endif %}

        {% if course.course_category == 'AP' %}
            <p class="font-size12px mt-4 m-0 pl-3">Animation Production > <span class="colorOrange">{{ course.course_title }}</span></p>
        {% endif %}

        {% if course.course_category == 'VE' %}
            <p class="font-size12px mt-4 m-0 pl-3">Video Editing > <span class="colorOrange">{{ course.course_title }}</span></p>
        {% endif %}

        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <ul class="videoHedings p-0 m-0 mt-4 mb-4">
        <li class="colorgray"><h4 class="m-0">{{ course.course_title }}</h4></li>
        </ul>
        </div>

        <div class="col-12 border-top1px font-size12px pt-2 pb-2 overflow-hidden">
        <p class="pull-left m-0"><b>by {{ course.course_author_name }}</b> {{ course.course_date }}</p>
        <p class="pull-right m-0">Lessons: <b>10</b> Duration: <b>{{ course.course_duration }}</b></p>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 border-top1px p-0 overflow-hidden">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 pull-left mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">

        <video class="col p-0" controls poster="https://techoryze.herokuapp.com/static/images/bg/poster.png" preload="auto">
            <source src="https://techoryze.herokuapp.com/media/cds.mp4" type="video/mp4">
        </video>

        </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-12 pull-left mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 border-dashed1px text-center padding-topBot">
        <h5 class="colorgray">{{ course.course_title }}</h5>
        <p class="font-size13px pt-5">Lessons: 12<br>Duration: {{ course.course_duration }}</p>
        <div class="col p-0 mt-5">
            <a href="https://techoryze.herokuapp.com/en/coursesvideo" class="d-block btn btn-dark colorOrange col-lg-6 col-md-8 col-sm-8 col-12 m-auto font-size14px">Start Course</a>
        </div>

        </div>
        </div>
        </div>

        <div class="col-12 border-top1px font-size12px pt-2 pb-2 mt-5 overflow-hidden">
        <h5>Course Details</h5>
        <p class="m-0">{{ course.course_detail }}</p>
        </div>

        <div class="col-12 border-top1px font-size12px pt-3 pb-2 mt-3 overflow-hidden">
        <h5 class="colorgray">Course Outline</h5>
        </div>

        <div class="col-12 border-top1px font-size12px pt-3 pb-2 mt-3 overflow-hidden">
        <h5 class="colorgray">What You’ll Learn</h5>
        </div>

        <div class="col-12 border-top1px font-size12px pt-3 pb-2 mt-3 overflow-hidden">
        <h5 class="colorgray">Course Prerequisites</h5>
        <ul class="pl-3 line-height25px bullits">
        <li>Platform: Windows or Mac</li>
        <li>Software: No software needed!</li>
        <li>Required Skills: N/A</li>
        <li>Previous Courses: N/A</li>
        </ul>
        </div>


        <div class="col-12 border-top1px font-size12px pt-3 pb-2 overflow-hidden">
        <h5 class="colorgray mb-3">Your Instructor</h5>
        <img src="https://techoryze.herokuapp.com/media/images/icon/instructorIcon1.png" class="pull-left mt-3 mr-3" width="100">
        <h5 class="colorGreen">{{ course.course_author_name }}</h5>
        <p>MOS Course Editor | Techoryze</p>
        <p class="col-lg-6 col-md-6 col-sm-12 col-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley.</p>
        </div>



        </div>
        </div>
        </div>
    {% endfor %}













</section>
<!--END SECTION-->

<!--START FOOTER-->
<footer class="overflow-hidden">
<div class="container">
<div class="col border-top1px mt-3">
<div class="col-lg-3 col-md-6 col-sm-12 col-12 pl-0 pull-left mt-4">
<a href="/"><img src="https://techoryze.herokuapp.com/static/images/logo/logo.png" width="135" class=""></a>
<p class="pt-2">Lorem Ipsum is simply dummy text of the
printing and typesetting industry. Lorem
Ipsum has been the industry's standard
dummy text.</p>
<ul class="p-0 socialicon">
<li class="font-weight-bold">FOLLOW US</li>
<li class="transition"><a class="transition" href="#"><span class="fa fa-youtube-play font-size14px"></span></a></li>
<li class="transition"><a class="transition" href="#"><span class="fa fa-facebook font-size14px"></span></a></li>
<li class="transition"><a class="transition" href="#"><span class="fa fa-twitter font-size14px"></span></a></li>
</ul>
</div>

<div class="col-lg-3 col-md-6 col-sm-6 col-12 navFotul pull-left mt-4 height-191px padding0768scr">
<ul>
<li><a href="#" class="transition">Browse Courses</a></li>
<li><a href="#" class="transition">Blog</a></li>
<li><a href="#" class="transition">Instructors</a></li>
<li><a href="#" class="transition">Enroll</a></li>
<li><a href="#" class="transition">Sign In</a></li>
</ul>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12 navFotul pull-left mt-4 height-191px padding0978scr">
<ul>
<li><a href="#" class="transition">Arcade</a></li>
<li><a href="#" class="transition">Forums</a></li>
<li><a href="#" class="transition">Privacy Policy</a></li>
<li><a href="#" class="transition">FAQ</a></li>
<li><a href="#" class="transition">Contact</a></li>
</ul>
</div>

<div class="col-lg-3 col-md-6 col-sm-12 col-12 pull-left mt-4 padding0768scr">
<p class="m-0 font-weight-bold">Address</p>
<p class="m-0">Lorem Ipsum is simply dummy text</p>

<p class="m-0 font-weight-bold mt-2">Contact</p>
<p class="m-0">Lorem Ipsum is simply dummy text</p>
<p class="m-0">Lorem Ipsum is simply dummy text</p>

<p class="mt-2 font-weight-bold"><a href="#" class="transition txtlink">info@techoryze.com</a></p>

<p class="m-0 font-weight-bold">School &amp; Group Sales</p>
<p class="m-0">Sales@techoryze.com</p>
</div>
</div>

<div class="col-12 pull-left border-top1px mt-4">
<p class="text-center mt-3">2017 © Techoryze. All Rights Reserved</p>
</div>

</div>
</footer>
<!--END FOOTER-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://techoryze.herokuapp.com/en/js/slim.min.js"></script>
<script src="https://techoryze.herokuapp.com/en/js/popper.min.js"></script>
<script src="https://techoryze.herokuapp.com/en/js/bootstrap.js"></script>
</body>
</html>
